{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <section> 
                    <h2>Section A</h2>
                    <p>Sec A has good students adn thes is bias.</p>
                </section>    
            </div>
            <div class="col">
                <section> 
                    <h2>Section B</h2>
                    <p>Sec B has good students adn thes is bias.</p>
                </section>    
            </div>
            <div class="col">
                <section> 
                    <h2>Section C</h2>
                    <p>Sec B has good students adn thes is bias.</p>
                </section>    
            </div>
        </div> 
    </div> 
{{end}}   